<p>Diese Seite folgt nach einloggen, dann soll man per Button beitreten können!</p>
<h2>Einladungslink führt zu dieser Seite</h2>

<div class="container">
  <header class="jumbotron">
    <h3>
      <strong>{{ tippRunde.tipprundeName }}</strong>
    </h3>
  </header>
  <p>
    <strong>Besitzer:</strong>
    {{ tippRunde.besitzer }}
  </p>

  <p>
    <strong>Liga:</strong>
    {{ tippRunde.liga }}
  </p>

  <p >
    <strong>Zugang:</strong>
    {{tippRunde.zugang}}
  </p>
</div>

<form (ngSubmit)="onSubmit()" #joinForm="ngForm">
  <div class="form-group">
    <label for="Nickname">Nickname</label>
    <input type="text" [(ngModel)]="tipper.nickname"
           class="form-control"
           id="Nickname"
           name="Nickname"
           placeholder="Nickname"
           required #nickname="ngModel">
    <div style = "color: red" *ngIf="nickname.invalid && nickname.touched">Bitte Nickname eingeben!</div>

  </div>
</form>
