<div class="ligaSelectForm">
  <form #matchCreateForm="ngForm">
    <div class="form-group">
      <label for="liga">Liga</label>
      <select [(ngModel)]="ligaid" [(ngModel)]="match.liga" id="liga" name="liga" required>
        <option *ngFor="let liga of ligen" value="{{ liga.id }}">{{ liga.name }}</option>
      </select>
    </div>
    <button (click)="onShowMatchesInLiga()" class="btn btn-info"
            type="button">Liga laden
    </button>
  </form>
</div>

<table class="minimalistBlack">
  <thead>
  <tr>
    <th>Matchday</th>
    <th>Playdate</th>
    <th>Team 1</th>
    <th>FT</th>
    <th>Team 2</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let match of matches;">
    <td><span>{{match.id}}</span></td>
    <td><span>{{match.spieltag}}</span></td>
    <td><span>{{match.scoreTeamA}}</span></td>
    <td><span>{{match.scoreTeamB}}</span></td>
    <td><span>{{match.teamA}}</span></td>
  </tr>
  </tbody>
</table>


<div class="tippAbgebenForm">
  <form #tippAbgebenForm="ngForm">
    <div class="form-group">
      <label for="match">Spiel</label>
      <input [(ngModel)]="tipp.spiel" class="form-control"
             id="match"
             name="match"
             placeholder="Spiel"
             required
             type="text">
      <label for="teamATip">Tore A</label>
      <input [(ngModel)]="tipp.tippA" class="form-control"
             id="teamATip"
             name="teamATip"
             placeholder="Tore A"
             required
             type="text">
      <label for="teamBTip">Tore B</label>
      <input [(ngModel)]="tipp.tippB" class="form-control"
             id="teamBTip"
             name="teamBTip"
             placeholder="Tore B"
             required
             type="text">

    </div>

    <div class="dangerButton">
      <button (click)="onSubmitTip()" [disabled]="!tippAbgebenForm.form.valid" class="btn btn-info"
              type="button">Tipp abgeben
      </button>
    </div>

  </form>
</div>
