<h2>Tipprunde erstellen:</h2>
<div class="createLigaForm">
  <br>
  <form #tippRundeCreateForm="ngForm" (ngSubmit)="CreateTippRunde()">

    <div class="form-group">
      <label for="createTippRundeName">Name der Tipprunde</label>
      <input #TippRundeName="ngModel" [(ngModel)]="createTippRunde.tipprundeName"
             class="form-control"
             id="createTippRundeName"
             name="name"
             placeholder="Wähle einen Namen!"
             required type="text">
    </div>

    <div class="accessdeclarer">
      <div class="form-group">
        <label for="access">Zugang </label>
        <select [(ngModel)]="createTippRunde.zugang" id="access" name="access" required>
          <option value="öffentlich">öffentlich</option>
          <option value="privat">privat</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Optionales Passwort</label>
      <input type="password" [(ngModel)]="createTippRunde.password"
             class="form-control"
             id="password"
             name="password"
             minlength="6"
             placeholder="Wähle dein Passwort!"
             >
    </div>
    <div class="ligaSelectForm">
        <div class="form-group1">
          <label for="liga">Liga </label>
          <select [(ngModel)]="createTippRunde.liga" id="liga" name="liga" required>
            <option *ngFor="let liga of ligen" value="{{ liga.id }}">{{ liga.name }}</option>
          </select>
        </div>
    </div>

    <div class="gewichtForm">
      <label for="gewTore">Richtiges Ergebnis:</label>
      <input #gewTore="ngModel" [(ngModel)]="createTippRunde.gewTore"
             class="form-control"
             id="gewTore"
             name="goal"
             pattern="([1-9])"
             placeholder="Wähle 1-9 Punkte!"
             required type="number">
    </div>
    <div class="gewichtForm">
      <label for="gewDiff">Richtige Differenz:</label>
      <input #gewDiff="ngModel" [(ngModel)]="createTippRunde.gewDiff"
             class="form-control"
             id="gewDiff"
             name="diff"
             pattern="([1-9])"
             placeholder="Wähle 1-9 Punkte!"
             required type="number">
    </div>
    <div class="gewichtForm">
      <label for="gewDiff">Richtiger Gewinner:</label>
      <input #gewGewinner="ngModel" [(ngModel)]="createTippRunde.gewGewinner"
             class="form-control"
             id="gewGewinner"
             name="winner"
             pattern="([1-9])"
             placeholder="Wähle 1-9 Punkte!"
             required type="number">
    </div>

    <button [disabled]="!tippRundeCreateForm.form.valid" class="btn btn-info"
            type="Erstellen">Tipprunde erstellen
    </button>
  </form>
  <br>
</div>
