<div style="margin-left: 20px">
  <label for="runden">Tipprunden:</label>
  <select name="runden" id="runden">
    <option *ngFor="let runde of tippRunden" [value]="runde.tipprundeName">
      {{runde.tipprundeName}}
    </option>
  </select>
</div>

<div style="float: left; margin-left: 20px; background-color: lightgrey; padding: 20px; border-radius: 15px">
  <canvas id="pieChart" width="280" height="280" style="float: left"></canvas>
  <ul id="pieValues" style="float: left; margin-left: 20px; height: 280px;" [style.line-height.px]="280/mannschaften.length">
    <li *ngFor="let number of mannschaften, let i = index">
      <div [ngStyle]="{'color':getColor(i)}">{{number}}</div>
    </li>
  </ul>
</div>
<div id="columnChartContainer" style="float: right; margin-right: 20px; width: 45%; padding: 20px; border-radius: 15px; background-color: lightgrey">
  <div class="col" style="" *ngFor="let number of mannschaften, let i = index">
    {{number}} name
    <div class="column" style="margin-bottom: 5px; text-align: center; color: lightgrey;" [style.width.%]="(number/maxValue)*100" [style.height.%]="100/mannschaften.length" [style.background-color]="colors[i]">
      {{number}}
    </div>
  </div>
</div>






