<div class="ligaSelectForm">
  <form #topthreeform="ngForm">
    <div class="form-group">
      <label for="liga">liga</label>
      <select [(ngModel)]="liga.id" id="liga" name="liga" required>
        <option *ngFor="let liga of ligen" value="{{ liga.id }}">{{ liga.name }}</option>
      </select>
    </div>
    <button (click)="onLoadTopThree()" class="btn btn-info"
            type="button">Top Drei der Liga laden
    </button>
  </form>
</div>

<div class="topThree">
  <a *ngIf="topThree.length === 0 && topthreeform.valid" style="color: red"> Keine Tipper gefunden!</a>
  <div *ngFor="let tipper of topThree">
    <div *ngFor="let topThreeName of topThreeNames">
      <a *ngIf="tipper.nutzerid.toString() == topThreeName.id">{{topThreeName.firstName}} {{topThreeName.lastName}} - {{tipper.points}}</a>
    </div>
  </div>
</div>
