<h2>Nutzer suchen</h2>
<div class="card-body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" [(ngModel)]="nutzerName"
             class="form-control"
             id="name"
             name="name"
             placeholder="Name"
             required #name="ngModel"
             (keyup.enter)="onSubmit()">
    </div>
  </form>
</div>

<div class="container">
  <div class="showNutzerList">
    <div class="noNutzer" *ngIf="nutzers.length < 1 && name.touched">Keine Nutzer gefunden</div>
    <div *ngFor="let nutzer of nutzers">
      <div class="card"  *ngIf ="nutzer.email !== email">
        <div>
          <img src="{{nutzer.imageURL}}">
          <a *ngIf ="nutzer.email !== email"> {{nutzer.firstName+" "+nutzer.lastName}} ({{nutzer.email}}) </a>

          <li class="list-inline-item">
          <button (click)='addFriend(nutzer.id)'
                  style="background-color: darkseagreen;
                  border-color: darkseagreen;
                  margin-left: 200px;"
                  class="btn btn-info">add Friend</button>
          </li>

          <style>
            .dropdown {
              position: relative;
              display: inline-block;
            }
            .dropdown-cont {
              display: none;
              position: absolute;
              background-color: ghostwhite;
              min-width: max-content;
              z-index: 1;
            }
            .dropdown-cont a {
              color:grey;
              display:block;
              padding-right: 10px;
            }
            .dropdown:hover .dropdown-cont {display: block}
            .dropdown-cont a:hover {color:black}

          </style>
          <li class="list-inline-item">
           <div class = "dropdown">
              <button
                  style="background-color: darkgrey;
                  border-color: darkgrey;"
                  class="btn btn-info">share Tipprunde</button>
             <div class = "dropdown-cont">
               <a *ngFor="let tippRunde of tippRunden"
               (click)="shareTippRunde(tippRunde, nutzer.email)">{{tippRunde.tipprundeName}} ({{tippRunde.id}})
               </a>
             </div>
          </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>


