<div class="createMatchList">
  <table>
    <tr>
      <th>
        Match ID
      </th>
      <th>
        Liga ID
      </th>
      <th>
        Datum
      </th>
      <th>
        Spieltag
      </th>
      <th>
        Team A
      </th>
      <th>
        Tore Team A
      </th>
      <th>
        Tore Team B
      </th>
      <th>
        Team B
      </th>

    </tr>
    <tr *ngFor="let spiel of matches">
      <td> {{ spiel.id }} </td>
      <td>{{ spiel.liga }}</td>
      <td>{{ spiel.date }}</td>
      <td>{{ spiel.spieltag }}</td>
      <td>{{getTeamName(spiel.teamA)}}</td>
      <td>{{ spiel.scoreTeamA }}</td>
      <td>{{ spiel.scoreTeamB }}</td>
      <td>{{getTeamName(spiel.teamB)}}</td>

    </tr>
  </table>

</div>
<div class="ligaSelectForm">
  <form #matchCreateForm="ngForm">
    <div class="form-group">
      <label for="liga">liga</label>
      <select [(ngModel)]="liga.id" [(ngModel)]="match.liga" id="liga" name="liga" required>
        <option *ngFor="let liga of ligen" value="{{ liga.id }}">{{ liga.name }}</option>
      </select>
    </div>
    <button (click)="onLoadLiga()" class="btn btn-info"
            type="button">Liga laden
    </button>
  </form>
</div>
