<div class="container">
  <header class="jumbotron">
    <h3>
      <img *ngIf="url !== 'null'" src="{{url}}">
      Profil von: <strong>{{ name }}</strong>
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ email }}
  </p>

  <p>
    <strong>Role:</strong>
    {{ role }}
  </p>

  <p *ngIf="role==='USER'">
    <strong>Geburtstag:</strong>
    {{birthdate}}
  </p>

  <p>
    <strong> Kontostand:</strong> {{konto}}
  </p>

  <p>
    <strong>Geldwette freigeschaltet?:</strong>
    {{wettfreigabe}}
  </p>

  <button *ngIf="wettfreigabe==='Nicht angefragt'" (click)="sendMail(adminemail)" class="btn btn-info"
          type="button">Geldwetten Funktion beantragen
  </button>
</div>
