footer{
  //background-color: white;
  //outline: black 2px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  //border-top: 1px solid black;
}
footer .chat-minimized{
  background-color: cornflowerblue;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 200px;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

footer .chat-open{
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 500px;
  height: 300px;
  float: right;
  display: block;
}

.name-box{
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid black;
}
.mini{
  color: white;
  float: right;
  cursor: pointer;
}
.mini:hover{
  color:darkblue;
}

.closing{
  margin-left: 10px;
  margin-right: 5px;
  color: white;
  float: right;
  cursor: pointer;
}
.closing:hover{
  color:darkblue;
}

footer .requests{
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 300px;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
  font-size: 17px;
}
button{
  margin-left: 15px;
}

.text-input{
  bottom: 0;
  position: absolute;
  width: 500px;
  border-top: black 1px solid;
  background-color: darkgrey;
  padding-bottom: 3px;
}

.field{
  width: 475px;
  margin-left: 10px;
  margin-top: 3px;
}

.chat-room{
  overflow-x: hidden;
  overflow-y: auto;
  height: 250px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.msg-partner{
  padding-top: 10px;
  text-align: left;
  border-bottom: solid rgba(0, 0, 0, 0.37) 1px;
}

.msg-me{
  padding-top: 10px;
  text-align: right;
  border-bottom: solid rgba(0, 0, 0, 0.37) 1px;
}
