footer{
  //background-color: white;
  //outline: black 2px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  //border-top: 1px solid black;
}
footer a{
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 200px;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
  font-size: 17px;
}
