<footer>

  <div class="chat-minimized" *ngIf="chatActive  && clicked == false" (click)="onOpen()">
   {{name}}
  </div>


  <div class="chat-open" *ngIf="clicked == true && chatActive">
    <div class="name-box">
      <b>{{name}}</b>
      <strong class="openclose">
        <b class="closing" (click)="onExit()">X</b>
        <b class="mini" (click)="onMinimize()">_</b>
      </strong>
    </div>
    <div class="chat-room" id="chat">
      <div class="chat-msgs" *ngFor="let message of messages">
        <div class="msg-partner" *ngIf=" message.sender!= myID">
          <b>{{message.name}}</b>
          <p>{{message.content}}      {{message.time}}</p>
        </div>
        <div class="msg-me" *ngIf="message.sender == myID">
          <b>{{myName}}</b>
          <p>{{message.content}}      {{message.time}}</p>
        </div>
      </div>
    </div>
    <div class="text-input" (keyup.enter)="sendmsg.value=''">
      <input #sendmsg class="field"  type="text" (keyup.enter)="send(sendmsg.value)">
    </div>
  </div>
</footer>
