
<div class="container">
  <header class="jumbotron">
    <h3>
      <strong>{{ tippRunde.tipprundeName }}</strong>
      <button class="btn btn-info" *ngIf="isInRunde" (click)="joinTipprundenChat()" style="float: right">Chat beitreten</button>
    </h3>
  </header>
  <p>
    <strong>Besitzer:</strong>
    {{ tippRunde.besitzer }}
  </p>

  <p>
    <strong>Liga:</strong>
    {{ tippRunde.liga }}
  </p>

  <p >
    <strong>Zugang:</strong>
    {{tippRunde.zugang}}
  </p>
</div>

<div class="search-tag-result">
  <label for="searchInput">Suche nach Nickname:  </label>
  <input name="searchInput" [(ngModel)]="searchInput" id="searchInput" placeholder="Suchbegriff" type="text">
  <button name="searchButton" (click)="submitSearch(searchInput)">Suche</button>
</div>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="überschrift">
        <th scope="col-id">Mitglieder</th>
        <th scope="col-name">Punkte</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="anschaueProfil(Tipper)" class="Tipper"  *ngFor="let Tipper of tippende">
        <td>{{ Tipper.nickname }}</td>
        <td>{{ Tipper.points }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<form #tipperAddform="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Nickname">Nickname</label>
    <input type="text" [(ngModel)]="tipper.nickname"
           class="form-control"
           id="Nickname"
           name="Nickname"
           placeholder="Wähle deinen Nickname aus"
           required #nickname="ngModel">
    <div style = "color: red" *ngIf="nickname.invalid && nickname.touched">Bitte Nickname eingeben!</div>
  </div>
  <button [disabled]="!tipperAddform.form.valid" class="btn btn-info"
          type="Beitreten">Tipprunde beitreten
  </button>
</form>

