<h2>Tippspiele:</h2>
<div class="search-tag-result">
  <label for="searchInput">Suchen nach</label>
  <select name="searchType" [(ngModel)]="searchType" id="searchType" >
    <option value="TipprundeName" [defaultSelected]="searchInput">Name der Tipprunde</option>
    <option value="Besitzer">Besitzer der Runde</option>
  </select>
  <input name="searchInput" [(ngModel)]="searchInput" id="searchInput" placeholder="Suchbegriff" type="text">
  <button name="searchButton" (click)="submitSearch(searchInput)">Suche</button>
</div>

<div class="container">
  <div class="showLigaList">
    <table>
      <tr>
        <th>
          Name der Tipprunde
        </th>
        <th>
          Besitzer
        </th>
        <th>
          Liga
        </th>
        <th>
          open/private
        </th>

      </tr>
      <tr *ngFor="let Tipprunde of tippRunden">
        <td> {{ Tipprunde.tipprundeName }} </td>
        <td>{{ Tipprunde.besitzer }}</td>
        <td>{{Tipprunde.liga}}</td>
        <td>{{Tipprunde.zugang}}</td>

      </tr>
    </table>

  </div>

</div>
