<h2>Tippspiele:</h2>
<div class="search-tag-result">
  <label for="searchInput">Suchen nach</label>
  <select name="searchType" [(ngModel)]="searchType" id="searchType" >
    <option value="TipprundeName" [defaultSelected]="searchInput">Name der Tipprunde</option>
    <option value="Besitzer">Besitzer der Runde</option>
  </select>
  <input name="searchInput" [(ngModel)]="searchInput" id="searchInput" placeholder="Suchbegriff" type="text">
  <button name="searchButton" (click)="submitSearch(searchInput)">Suche</button>
</div>
<style>
  .tabelle:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    font-size: larger;
    border-width:1.5px;
    border-style: solid;
    border-color: lightgrey;
    padding-left: 10px;
    text-align: center;
    line-height: 50px;
    background-color: ghostwhite;
  }
</style>
<div class="tabelle">
    <div class="column" style="width: 10%; background-color: revert; border: none">
      <H4>ID</H4>
    </div>
    <div class="column" style="width: 20%; background-color: revert; border: none">
      <H4>Name</H4>
    </div>
    <div class="column" style="width: 15%; background-color: revert; border: none">
      <H4>Owner</H4>
    </div>
    <div class="column" style="width: 20%; background-color: revert; border: none">
      <H4>Liga</H4>
    </div>
    <div class="column" style="width: 10%; background-color: revert; border: none">
      <H4>Zugang</H4>
    </div>
</div>

<div class="tabelle" *ngFor="let Tipprunde of tippRunden">
  <div class="column 1" style="width: 10%; border-right: none;">
      {{Tipprunde.id}}
  </div>
  <div class="column 2" style="width: 20%; border-right: none;">
    {{Tipprunde.tipprundeName}}
  </div>
  <div class="column 3" style="width: 15%; border-right: none;">
    {{Tipprunde.besitzer}}
  </div>
  <div class="column 4" style="width: 20%; border-right: none;">
    {{Tipprunde.liga}}
  </div>
  <div class="column 5" style="width: 10%;">
    {{Tipprunde.zugang}}
  </div>
  <div class="column 6" style="width: 20%; border: none; text-align: left; background-color: unset">
      <div class="form-group">
        <style>
          .passField {
            position: center;
            background-color: ghostwhite;
            padding-right: 20px;
            line-height: normal;
          }
        </style>
        <div class = "joinTippRunde" id={{Tipprunde.id}}d>
          <button
            (click)="showPasswordField(Tipprunde.id+'', Tipprunde.id+'d', Tipprunde.id+'p', Tipprunde.password+'', false)"
            style="background-color: darkgrey;
                    border-color: darkgrey;"
            class="btn btn-info">View Tipprunde</button>
        </div>
        <div class="passField" id={{Tipprunde.id}} style="display: none">
          <input name="rundePassword" (keyup.enter)="gotoRunde(Tipprunde.id+'',Tipprunde.password+'', rundePassword+'')" [(ngModel)]="rundePassword" id={{Tipprunde.id}}p placeholder="Password" type="text"
                 (focusout)="showPasswordField(Tipprunde.id+'', Tipprunde.id+'d', Tipprunde.id+'p', Tipprunde.password+'', true)">
        </div>
      </div>

  </div>
</div>


<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="überschrift">
        <th scope="col-id">ID</th>
        <th scope="col-name">Name der Tipprunde</th>
        <th scope="col-owner">Besitzer</th>
        <th scope="col-liga">Liga</th>
        <th scope="col-access">Zugang</th>
        <th scope="col-password">Passwort</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Tipprunde of tippRunden">
        <td>{{ Tipprunde.id }}</td>
        <td>{{ Tipprunde.tipprundeName }}</td>
        <td>{{ Tipprunde.besitzer }}</td>
        <td>{{getLigaName(Tipprunde.liga)}}</td>
        <td>{{ Tipprunde.zugang }}</td>



      </tr>
      </tbody>
    </table>
  </div>
</div>
