<h2>Tippspiele:</h2>
<div class="search-tag-result">
  <label for="searchInput">Suchen nach</label>
  <select name="searchType" [(ngModel)]="searchType" id="searchType" >
    <option value="TipprundeName" [defaultSelected]="searchInput">Name der Tipprunde</option>
    <option value="Besitzer">Besitzer der Runde</option>
  </select>
  <input name="searchInput" [(ngModel)]="searchInput" id="searchInput" placeholder="Suchbegriff" type="text">
  <button name="searchButton" (click)="submitSearch(searchInput)">Suche</button>
</div>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="überschrift">
        <th scope="col-name">Name der Tipprunde</th>
        <th scope="col-owner">Besitzer</th>
        <th scope="col-liga">Liga</th>
        <th scope="col-access">Zugang</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="anschauen(Tipprunde)" class="runden" *ngFor="let Tipprunde of tippRunden">
        <td>{{ Tipprunde.tipprundeName }}</td>
        <td>{{ Tipprunde.besitzer }}</td>
        <td>{{ Tipprunde.liga }}</td>
        <td>{{ Tipprunde.gewTore }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
