<h2>Freundschaftsanfragen</h2>
<div class="noNutzer" *ngIf="openRequests.length < 1">Keine offenen Freundschaftsanfragen</div>
<div class="showFriendRequests">
  <div *ngFor="let user of openRequests">
    <div class="card">
      <div>
        <a>{{user.firstName+ " " + user.lastName}}</a>
        <li class="list-inline-item">
          <button (click)='acceptFriend(user.id+"")'
                  style="background-color: darkseagreen;
border-color: darkseagreen; margin-left: 200px;"
                  class="btn btn-info">accept</button>
        </li>
        <li class="list-inline-item">
        <button (click)='removeFriend(user.id+"")'
                style="background-color: indianred;
border-color: indianred;"
                class="btn btn-info">decline</button>
        </li>
      </div>
    </div>
  </div>
</div>
<h2>Freundesliste</h2>
<div class="container">
  <div class="noNutzer" *ngIf="nutzers.length < 1 ">Keine Freunde gefunden</div>
  <div class="showNutzerList">
    <div *ngFor="let nutzer of nutzers">
      <div class="card">
        <div>
          <img src="{{nutzer.imageURL}}">
          <a>{{nutzer.firstName+" "+nutzer.lastName}}</a>

          <li class="list-inline-item">
            <button (click)='removeFriend(nutzer.id+"")'
                    style="background-color: indianred;
border-color: indianred; margin-left: 200px;"
                    class="btn btn-info">Remove Friend</button>
          </li>

          <style>
            .dropdown {
              position: relative;
              display: inline-block;
            }
            .dropdown-cont {
              display: none;
              position: absolute;
              background-color: ghostwhite;
              min-width: 300px;
              z-index: 1;
            }
            .dropdown-cont a {
              color:grey;
              display:block;
            }
            .dropdown:hover .dropdown-cont {display: block}
            .dropdown-cont a:hover {color:black}

          </style>
          <li class="list-inline-item">
            <div class = "dropdown">
              <button
                style="background-color: darkgrey;
                  border-color: darkgrey;"
                class="btn btn-info">share Tipp</button>
              <div class = "dropdown-cont">
                <a *ngFor="let tipp of tipps"
                   (click)="shareTipp(tipp, nutzer.email)">
                  {{tipp.tipper + " " + tipp.teamATip + ":" + tipp.teamBTip}}
                </a>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

