<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a *ngIf="loggedIn=== null" class="btn btn-info" routerLink="/user">Als User registrieren</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn=== null" class="btn btn-info" routerLink="/login">Login</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn=== null" class="btn btn-info" routerLink="/admin">Als Admin registrieren</a>
            </li>

            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/liga-see">Liga ansehen</a>
            </li>

            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/matchplan-show">Spielplan anzeigen</a>
            </li>

            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/team-show">Team ansehen</a>
            </li>

            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/search">Nutzer suchen</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/friends">Freundesliste</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/tipp-runde">Tipprunden</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/tipp-runde-create">Tipprunde erstellen</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/tipphilfe">Tipphilfe</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/tipp-abgeben">Tipp abgeben</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/top-three-team">Top Three Teams</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="loggedIn!== null" class="btn btn-info" routerLink="/minigame">Minigame</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<app-chat></app-chat>
